@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
$max-width:1140px;
$gutter:20px;
$finger-size:40px;

$first-color:#01996D;
$first-color-dark:#245852;
$general-color:#fff;
$text-color : #292929;
$font-family :'Lato', sans-serif;